.vertical__links {
  transform: rotate(-90deg) !important;
}

.vertical__link {
  color: white;
  position: relative;
  font-size: 0.8rem;
}

.vertical__link::after {
  transition: width 0.2s ease;
  content: "";
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  right: 0;
  display: block;
  width: 0;
}

.vertical__link:hover::after {
  width: 100%;
  left: 0;
}
