.project-list__item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project__link {
  text-decoration: none;
  color: white;
  z-index: 3;
  font-size: 46px;
  mix-blend-mode: difference;
}

.project-list__img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scaleY(0);
  transition: ease-in-out, opacity 0.2s, transform 0.4s;
}

.project-list__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.project__link:hover + .project-list__img {
  opacity: 1;
  transform: scaleY(1);

  transition: all 0.5s ease;
}
